.foot{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #D9D9D9;
    padding: 1%;
}

.foot p{
    color: #000;
    font-family: Aclonica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}